{% estende 'base.html' %} {% bloqueia conteúdo %}

< div  class =" contêiner " >
  < div  classe =" linha " >
    < div  class =" col-md-8 cartão mb-4 mt-3 canto superior esquerdo " >
      < div  class =" card-body " >
        <h1> {% título do bloco %} {{ post.title }} {% título do bloco final % } < / h1 >
        < p  class =" text-muted " > {{ post.author }} | {{ post.created_on }} </ p >
        < p  class =" card-text " > {{post.content | seguro }} </ p >
      </div> _ _
    </div> _ _
    {% barra lateral do bloco %} {% include 'sidebar.html' %} {% barra lateral do bloco final %}
  </div> _ _
</div> _ _

{% conteúdo do bloco final %}